# Standard binary/intermediate output directories
bin/
obj/
[Bb]uild/

# Mac OS meta files
.DS_Store

# Jetbrains IDEs
.idea/

# Misc.
[Tt]mp/
[Tt]emp/

# Temp files for school submission
VS2019-Build/
Windows_x64_Release/